<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Ajouter livre</title>
<link rel="stylesheet"
href="https://stackpath.bootstrapcdn.com/bootstrap/
4.1.3/css/bootstrap.min.css"integrity="sha384-
MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFO
JwJ8ERdknLPMO"crossorigin="anonymous">
<link rel="stylesheet"
href="https://use.fontawesome.com/releases/v5.4.1/c
ss/all.css" integrity="sha384-
5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2
R5Jz6kr4abQsz" crossorigin="anonymous">
</head>
<body>
<h1>Ajouter livre</h1>
<form th:action="@{/ajouterLivre}"
th:object="${livre}" method="post">
<div>
<label for="titre">Titre :</label>
<input type="text" th:field="*{titre}" id="titre"/>
</div>
<div>
<label for="auteur">description :</label>
<input type="text" th:field="*{description}"
id="auteur"/>
</div>
<div>
<label for="anneePublication">dateEcheance
:</label>
<input type="number" th:field="*{dateEcheance}"
id="anneePublication"/>
</div>
<div>
<label for="etat">etat
:</label>
<input type="text" th:field="*{etat}"
id="etat"/>
</div>
<div>
<button type="submit">Ajouter</button>
</div>
</form>
</body>
</html>